body {
    margin: 0;
    padding: 0;
}

.login-box {
    border: 1px solid #ddd;
    margin-top: 20%;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}